html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
ul,li{
    list-style: none;
    margin: 0;
}
.contains{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    opacity: 0.7;
    position: relative;
    top: 0;
    left: 0;
}
.set{
    color: #205dc8;
    text-decoration: underline;
    cursor: pointer;
}
.set2{
    color: #205dc8;
    text-decoration: underline;
    cursor: pointer;
}
.main{
    /* width: 700px;
    height: 500px; */
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.bottom{
    width: 100%;
    height: 100%;
    background-color: #8BC6EC;
    background-image: linear-gradient(0deg, #8BC6EC 0%, #9599E2 100%);
    box-sizing: border-box;
    padding: 0 20px 60px 20px;
}
/* tab */
.chooseBtn{
    width: 100%;
    height: 40px;
    font-size: 0;
    background:rgba(255,255,255,.5);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff)\9;
}
.chooseBtn>div{
    float: left;
    width: 94px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.changeBgc{
    background-color: #fff !important;
}
/* pages */
.tabPages{
    width: 100%;
    height: 100%;
    background-color: #eee;
    box-sizing: border-box;
    position: relative;
}

/* 閹稿鎸抽柊宥囩枂 */
.hide{
    display: none;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.table{
    width: 100%;
    height: 85%;
    overflow-y: auto;
    background-color: #FFF;
    position: relative;
}
.workSet{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
}
.workSet table{
    width: 100%;
    text-align: center;
    border-color: #333;
}
.workSet table tr,td{
    height: 40px;
}
.acon{
    width: 100px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    background-color: #edeef7;
    border: 1px solid;
}
.acon:hover{
    background-color: #f9f7de;
    cursor: pointer;
}
.priCon{
    background-color: #F3F3F3;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.lines,.manipulate{
	width: 100%;
	line-height: 30px;
	padding: 10px 30px 0 30px;
	box-sizing: border-box;
}

.inp{
	float: left;
	margin-right: 20px;
}

.node{
	width: 100%;
	height: 50%;
	padding:  0 30px;
	margin-top: 40px;
	box-sizing: border-box;
	position: relative;
}

.nodeBox{
	width: 80%;
	height: 100%;
	background-color: #FFF;
	border: 1px solid;
	position: absolute;
	overflow: auto;
}

.nodeBox p{
    margin: 0;
    line-height: 30px;
}

.nodeOperation{
	width: 14%;
	height: 100%;
	position: absolute;
	right: 0;
}

.nodeButton{
	width: 100px;
	height: 228px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.nodeButton button{
	width: 80px;
	height: 30px;
	margin-bottom: 20px;
}

.expressionBox{
	width: 100%;
	height: 20%;
	padding:  0 30px;
	box-sizing: border-box;
	margin-top: 20px;
}

.fomula{
	width: 90%;
	height: 100%;
}
.formulaType{
	display: inline-block;
	margin-right: 25px;
}
.formulaType button{
	width: 90px;
	height: 30px;
}

.preserve button:first-of-type{
    position: absolute;
    bottom: 8px;
    right: 90px;
    cursor: pointer;
	width: 70px;
	height: 30px;
}
.preserve button:last-of-type{
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
	width: 70px;
	height: 30px;
}

.tips{
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.txb{
	margin-left: 20px;
}

.int{
	opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}


.tt{
	/* height: 30px; */
	line-height: 30px;
}

/* 1.基本信息 */
/* 修改界面 */
.updata{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
}
.updata>table{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: auto;
    font-size: 16px;
    /* background-color: #f2f2f2; */
    /* border: 2px solid #8a91ff; */
}
.updataSave{
    margin-right: 30px;
}
.updata>table td{
    text-align: left;
    padding-left: 10px;
}

/* 3.瀹搞儰缍旂紒鍕啎缂冿拷 */

/* 閸旂偟鎮婄紒锟� */
.handleGroup{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
.handleGroup>div{
    float: left;
}
.text{
    width: 20%;
    float: left;
}
.showList{
    width: 60%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}
.showList>p{
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 8px;
}
.showList>p>span{
    float: right;
}
.btns{
    height: 100%;
    box-sizing: border-box;
    padding: 24px 10px;
}
.btns>div{
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}
.btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.changeBgc2{
    background-color: #ffdaa3;
}
/* 瀹搞儰缍旂紒鍕閸拷 */
.workGroupSet,.workGroupType,.filter{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.filter{
    margin-top: 20px;
}
.workGroupType>div{
    float: left;
}
/* 娑撳濯哄鍡樼壉瀵拷 */
.select{
    margin-left: 15px;
}
.forType1>div{
    float: left;
}
.showWorkGroup{
    width: 200px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #8a8a8a;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.chooseWorkGroup{
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    margin-left: 2px;
    cursor: pointer;
}
/* .addGroup{
    width: 60px;
    height: 100%;
    text-align: center;
    margin-left: 10px;
    background-color: #d8d8d8;
    cursor: pointer;
} */
.forType2{
    margin-left: 15px;
}
/* 闁瀚ㄥ銉ょ稊缂佸嫰銆夐棃锟� */
.WorkGroupList{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
}
/* 閺屻儲澹� */
.search2{
    width: 100%;
    border-bottom: 1px solid #b4b9ea;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
}
.search2>div{
    height: 30px;
    /* line-height: 30px; */
    margin-top: 5px;
    float: left;
}
.search2 input{
    height: 80%;
    margin-right: 15px;
}
.search2Btn{
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #d8d8d8;
    cursor: pointer;
}
/* 瀹搞儰缍旂紒鍕灙鐞涳拷 */
.groupList{
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    overflow: auto;
}
.groupItem{
    width: 100%;
    height: 30px;
    line-height: 30px;;
}
.groupItem>div{
    display: inline-block;
}
/* 鏉╁洦鎶� */
.option2{
    float: left;
}
/* 绾喛顓� 鏉╂柨娲栧銉ょ稊缂佸嫬鎮曠粔锟� */
.sureGroup{
    width: 60px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    background-color: #d8d8d8;
    cursor: pointer;
}

/* 4.濮濄儵顎冮弮鍫曟 */
.bgc{
	background-color: #7ccbff;
}
.topAdd{
    width: 100%;
    height: 40px;
    line-height: 40px;;
}
.topAdd>div{
    display: inline-block;
    margin-left: 10px;
}
.topAdd>div:first-of-type{
    margin-left: 0;
}
.topAdd button{
    display: block;
    width: 60px;
    height: 25px;
}
.timeLimit{
    width: 100%;
    height: 60%;
    border: 1px solid;
    box-sizing: border-box;
    padding: 10px;
}
.limitList{
    float: left;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.limitList>table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
.limitList>table tr{
    height: 50px;
}
.limitList>table td{
    text-align: center;
}
.limitBtns{
    float: left;
    height: 100%;
    width: 20%;
    position: relative;
}
.btnsBox{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100px;
    height: 120px;
}
.btnsBox button{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
}
.optionTips{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #d41616;
}
.optionTips span{
    font-size: 16px;
    color: #333333;
}
.sendOptions{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 10px;
}
.sendOptions div {
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
}
.saveBtn,.saveBtnLimit,.saveBtnAct,.saveBtn1,.sure{
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
}

/* 5.动作设置 */
.changeName{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.changeBox{
    width: 300px !important;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border: 2px solid #b3b7e9 !important;
}

/* 6.閸ョ偛宕熸宀冪槈 */
.oderMo{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.tableBox{
    position: absolute;
    top: 50px;
    bottom: 70px;
    left: 10px;
    right: 10px;
    overflow: auto;
    background-color: #fff;
}
.tableBox>table{
    width: 100%;
    border-collapse: collapse;
}
.tableBox>table td{
    text-align: center;
}
.tableBox>table tr{
    height: 44px;
}

.mask{
    background-color: rgb(0, 0, 0, .3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.nodeDetails{
    width: 80%;
    height: 60%;
    background-color: #FFF;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
.nodeDetails .details-title{
    width: 100%;
    height: 20px;
}
.details-title a{
    text-decoration: none;
    color: #000;
    line-height: 20px;
    float: right;
    margin-right: 5px;
}
.details-content{
    width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    line-height: 20px;
}

.tableBoxNoPosition {
    top: 50px;
    bottom: 70px;
    left: 10px;
    right: 10px;
    overflow: auto;
    background-color: #fff;
}

.mbtn {
    background-color: #54B9FF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width:60px;
    height:20px;
    line-height:20px;
    cursor:pointer;
}